doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(name="apple-touch-fullscreen" , content="YES")
        title= title
        link(rel='stylesheet', href='/styles/style.css')
        link(rel='stylesheet', href='/styles/icomoon/style.css')

    body
        block content
        script(type='text/javascript' src='/build/js/common.js')
        script(type='text/javascript' src='/build/js/main.js')

