@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?a595m7');
	src:url('fonts/icomoon.eot?#iefixa595m7') format('embedded-opentype'),
		url('fonts/icomoon.ttf?a595m7') format('truetype'),
		url('fonts/icomoon.woff?a595m7') format('woff'),
		url('fonts/icomoon.svg?a595m7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e902";
}
.icon-compass2:before {
	content: "\e94a";
}
.icon-calendar:before {
	content: "\e953";
}
.icon-heart:before {
	content: "\e9da";
}
.icon-arrow-left2:before {
	content: "\ea40";
}
.icon-github4:before {
	content: "\eab4";
}
.icon-user:before {
	content: "\e971";
}
.icon-users:before {
	content: "\e972";
}
.icon-user-tie:before {
	content: "\e976";
}
.icon-plus:before {
	content: "\ea0a";
}
.icon-minus:before {
	content: "\ea0b";
}
.icon-cross:before {
	content: "\ea0f";
}
.icon-checkmark:before {
	content: "\ea10";
}
.icon-checkmark2:before {
	content: "\ea11";
}
