* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 62.5%/1.65 "Open Sans", sans-serif;
}

body {
    height: 100%;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    margin: 0;
    padding: 0;
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    overflow-x: hidden;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

ul, ol, li {
    list-style-type: none;
    list-style: none;
}

.font12 {
    font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #CCCCCC;
    -webkit-font-smoothing: antialiased;
}

.swipeleft-enter {
    transition: left .3s ease-in;
    left: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

.swipeleft-enter.swipeleft-enter-active {
    left: 0;
}

.swipeleft-leave {
    left: 0%;
    width: 100%;
    transition: left .3s ease-in;
    position: absolute;
    height: 100%;
    border: none;
}

.swipeleft-leave.swipeleft-leave-active {
    left: -100%;
}

.swiperight-enter {
    transition: left .3s ease-in;
    left: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

.swiperight-enter.swiperight-enter-active {
    left: 0;
}

.swiperight-leave {
    left: 0%;
    width: 100%;
    transition: left .3s ease-in;
    position: absolute;
    height: 100%;
    border: none;
}

.swiperight-leave.swiperight-leave-active {
    left: 100%;
}

code {
    white-space: pre-wrap;
    background: #f1f0ea;
    border-radius: 2px;
    padding: .2em .4em;
    vertical-align: top;
}

pre {
    margin: 1.6em 0;
    background: #f1f0ea;
    width: 100%;
    padding: 10px;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: .9em;
    white-space: pre;
    overflow: auto;
    border-radius: 3px;
}